body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* .............NAVBAR.......... */
nav {
  width: 100%;
  background-color: black;
}
.section1Logo {
  margin-left: 60px;
}
nav ul {
  /* background-color: black; */
  overflow: hidden;
  padding: 20px 40px 0 0;
  margin: 0;
}
ul.topnav li {
  list-style: none;
  float: right;
}
ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 18px;
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
  padding: 24px;
  text-transform: uppercase;

  color: #fff;
}
ul.topnav li a:hover {
  color: #f64b3c;
}
ul.topnav li.dropdownIcon {
  display: none;
}
h1 {
  font-weight: bold;
  font-size: 68px;
  margin: 0px;
  text-align: center;
  letter-spacing: 1.5px;
  padding-top: 50px;
}
p {
  font-size: 18px;
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 20px;
}
button {
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(246, 75, 60);
  width: 250px;
  border: none;
  border-radius: 30px;
}
button:hover {
  background-color: black;
  color: rgb(246, 75, 60);
  box-shadow: 3px 3px 0px rgb(41, 39, 39);
  letter-spacing: 3px;
}

/* .........................SECTION#3..................... */
.product {
  background-color: #f64b3c;
  width: 100%;
  color: #fff;
}
.productInner {
  width: 90%;
  display: flex;
  padding: 60px 0 60px 0;
}
.productImg {
  padding-left: 90px;
}
.productImg img {
  border-radius: 50%;
  height: 400px;
}
.productContent {
  width: 700px;
  margin-top: 50px;
  margin-left: 100px;
}
.productContent h1 {
  text-align: left;
}
.productContent p {
  text-align: left;
  width: 100%;
  padding-top: 30px;
}
.productContent button {
  background-color: #fff;
  color: rgb(246, 75, 60);
  margin-top: 50px;
}
.product h3 {
  background: rgb(246, 75, 60);
  color: #fff;
  border: 2px dotted #fff;
  width: 30%;
  padding: 10px;
  text-align: center;
  margin: auto;
}
/* ............section#4.......... */
.background {
  background: url("Images/background\ shapes.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.pro2 {
  color: rgb(246, 75, 60);
}
.pro2 button {
  background: rgb(246, 75, 60);
  color: #fff;
}
.pro2 h3 {
  background: #fff;
  color: #f64b3c;
  border: 2px dotted #f64b3c;
  width: 30%;
  padding: 10px;
  text-align: center;
  margin: auto;
}
/* .................FOOTER.............. */
footer {
  width: 100%;
  background-color: #1b1b1b;
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
footer .col {
  flex-basis: 20%;
  padding: 10px;
}
footer .col h2 {
  margin-bottom: 40px;
  text-transform: capitalize;
  position: relative;
  width: fit-content;
}
.keypoint {
  margin: 0;
  text-align: left;
  font-weight: lighter;
  font-size: 14px;
  padding-top: 0;
  line-height: 2;
}

.icons {
  margin-top: 15px;
}
.icons img {
  height: 30px;
  align-items: center;
  background-color: #fff;
  padding: 2px;
  border-radius: 50%;
  border: 2px inset black;
  margin-right: 7px;
  margin-top: 0px;
}
footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
footer ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}
.underline {
  width: 100%;
  height: 5px;
  background-color: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0px;
}
.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
@media screen and (max-width: 992px) {
  .row {
    justify-content: stretch;
  }
  footer .col {
    flex-basis: 40%;
  }

  footer .col:nth-child(1) {
    flex-basis: 40%;
  }
  .icons img {
    width: 25px;
    height: 25px;
  }
}

/* ..............................TABLET VIEW...................... */
@media screen and (max-width: 768px) {
  /* .........responsive navbar.......... */
  .section1Logo {
    margin-left: 10px;
    padding-top: 10px;
    height: 50px;
  }
  nav ul {
    padding: 0px 40px 0 0;
    margin: 0;
  }
  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }
  ul.topnav li.dropdownIcon {
    display: block;
    float: right;
  }
  ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li {
    display: inline;
    float: none;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    padding: 10px;
    background-color: rgb(246, 75, 60);
  }
  ul.topnav li a:hover {
    background-color: black;
    color: #fff;
  }
  /* .........SECTION#3.......... */
  .productInner {
    display: block;
    padding: 40px 0px 40px 0px;
  }
  .productInner button {
    margin-top: 20px;
    padding: 4px;
    font-weight: lighter;
    font-size: 14px;
    width: 120px;
  }
  .productContent h1 {
    font-size: 38px;
  }
  .productContent {
    margin: 10px;
    padding-bottom: 10px;
  }
  .productContent p {
    width: 100%;
    margin-left: 0;
  }
  .productImg {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }
  .productContent {
    margin-top: 10px;
    margin-left: O;
    width: 500px;
    padding-left: 0;
  }
  /* ...............footer............ */
  .row {
    justify-content: stretch;
  }
  footer .col {
    flex-basis: 40%;
  }

  footer .col:nth-child(1) {
    flex-basis: 40%;
  }
  .icons img {
    width: 25px;
    height: 25px;
  }
}
/* .........................................MOBILE VIEW........................................... */
@media screen and (max-width: 320px) {
  /* .........responsive navbar.......... */
  ul.topnav.responsive li a {
    padding: 0px;
    min-height: 3px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: lighter;
  }

  /* ............SECTION#3......... */
  .productImg img {
    height: 200px;
  }
  .productContent {
    width: 300px;
  }
  /* ...................footer............. */
  footer {
    bottom: unset;
  }
  footer .col {
    flex-basis: 100%;
  }
  footer .col:nth-child(1) {
    flex-basis: 100%;
  }
  .icons img {
    width: 25px;
    height: 25px;
  }
} 
